.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s;
  width: 300px;
  height: 100%;
  box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);

  &:hover {
    transform: scale(1.05);
  }

  .title {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    svg {
      width: 20px;
      height: 20px;
      transition: .2s;

      &:hover {
        stroke: var(--black);
      }
    }
  }

  .priority {
    width: 50px;
    height: 3px;

    &High {
      background-color: #fc3737;
    }

    &Normal {
      background-color: #5b96fa;
    }

    &Low {
      background-color: #7ec57e;
    }
  }



  .descriptionTitle {
    display: flex;
    gap: 5px;
    text-transform: uppercase;
    color: #a6acc4;
    font-size: 14px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .descriptionText {
    font-size: 16px;
  }
}